
<div class="container">
	<div class="login-absolute-center is-responsive">
	<app-alert></app-alert>
		<div id="over">
			<img src="assets/escudo.png" width="150" height="150">
		</div>
		<hr>
		<div>
			<h1 align="center">::: Elecciones 3 :::</h1>
			<h2 align="center"> Ingresa tus credenciales </h2>
			<br>
			<form class="form-signin" name="form"
					(ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
					<div class="form-group"
						[ngClass]="{ 'has-error': f.submitted && !username.valid }">
						<label for="username" class="sr-only">Username</label> <input
							type="text" class="form-control" name="username"
							[(ngModel)]="model.username" #username="ngModel" required
							placeholder="Número de Identificación" />
						<div *ngIf="f.submitted && !username.valid" class="help-block">¡Identificación
							es requerida!</div>
					</div>
					<div class="form-group"
						[ngClass]="{ 'has-error': f.submitted && !password.valid }">
						<label for="password" class="sr-only">Password</label> <input
							type="password" class="form-control" name="password"
							[(ngModel)]="model.password" #password="ngModel" required
							placeholder="Contraseña" />
						<div *ngIf="f.submitted && !password.valid" class="help-block">¡Contraseña
							es requerida!</div>
					</div>
					<div class="form-group" align="center">
						<button type="submit" ng-disabled="form.$invalid || dataLoading"
							class="btn btn-primary text-center">
							<i class="fa fa-key"></i> Ingresar
						</button>
					</div>
				</form>
		</div>
	</div>
</div>