
<div class="container">
	<div class="login-absolute-center is-responsive">
		<app-alert></app-alert>
		<div id="over">
			<img src="assets/escudo.png" width="200" height="200">
		</div>
		<hr>
		<h1 align="center">::: Voto Registrado :::</h1>
		<h1 align="center">::: ¡Gracias por participar! :::</h1>
		<button  [routerLink]="['login']" type="submit" ng-disabled="form.$invalid || dataLoading"
			class="btn btn-primary text-center">
			<i class="fa fa-key"></i> Volver al incio
		</button>
	</div>
</div>
<hr>

