/*
 * Globals
 */
.card_border {
	border-color: transparent;
}

/* Links */
a, a:focus, a:hover {
	color: #0F4AA1;
}

/* Custom default button */
.btn-secondary, .btn-secondary:hover, .btn-secondary:focus {
	color: #333;
	text-shadow: none; /* Prevent inheritance from `body` */
	background-color: #fff;
	border: .05rem solid #fff;
}


body {
	/*#display: -ms-flexbox;
	#display: -webkit-box;
	display: flex;*/
	-ms-flex-pack: center;
	background-color: #cad1d4;
	padding-top: 5px ;
	padding-left: 5px ;
	padding-left: 5px ;
	padding-right: 5px;
}

.card-deck {
	justify-content: center;
	border-color: #adbfc9;
}


/*
 * Header
 */
.masthead {
	margin-bottom: 3rem;
}

.masthead-brand {
	margin-bottom: 0;
}

.nav-masthead .nav-link {
	padding: .25rem 0;
	font-weight: 700;
	color: rgba(255, 255, 255, .5);
	background-color: transparent;
	border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover, .nav-masthead .nav-link:focus {
	border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link+.nav-link {
	margin-left: 1rem;
}

.nav-masthead .active {
	color: #fff;
	border-bottom-color: #fff;
}

@media ( min-width : 48em) {
	.masthead-brand {
		float: left;
	}
	.nav-masthead {
		float: right;
	}
}

/*
 * Cover
 */
.cover {
	padding: 0 0.5rem;
}

.cover .btn-lg {
	padding: .75rem 1.25rem;
	font-weight: 700;
}

/*
 * Footer
 */
.mastfoot {
	color: rgba(255, 255, 255, .5);
}

.card_2 {
	margin: 0 auto; /* Added */
	float: none; /* Added */
	margin-bottom: 10px; /* Added */
}

div.well {
	height: 250px;
}

.Absolute-Center {
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.Absolute-Center.is-Responsive {
	width: 90%;
	height: 90%;
	min-width: 900px;
	max-width: 900px;
	padding: 10px;
}

.login-absolute-center {
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.login-absolute-center.is-responsive {
	width: 50%;
	height: 50%;
	min-width: 500px;
	max-width: 500px;
	padding: 10px;
}

#logo-container {
	margin: auto;
	margin-bottom: 10px;
	width: 200px;
	height: 30px;
}

#container .image-container {
	text-align: center;
	vertical-align: middle;
	display: table-cell;
}

#over img {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#container .image-container img {
	max-width: 260px;
	max-height: 60px;
}

.chart {display: block; width: 100%;}

canvas {
width: 100% !important;
max-width: 1000px;
height: auto !important;

}

.card {
	margin: 0 auto; /* Added */
	float: none; /* Added */
	margin-bottom: 10px; /* Added */
	border-color: #adbfc9;
}

.card-img-top {
    object-fit: cover;
}