<div class="cover-container">
	<header class="masthead mb-auto">
		<div class="inner">
			<h3 class="masthead-brand">::: Votaciones 2018 :::</h3>
			<nav class="nav nav-masthead justify-content-center">
				<a class="nav-link">{{currentUser.name}}
					{{currentUser.lastname}} | {{currentUser.course}} |
					{{currentUser.location}}</a>
			</nav>
		</div>
	</header>
</div>

	<div class="container">
		<hr>
		<div style="display: block">
			<canvas baseChart [data]="contrallorChartData"
				[labels]="contrallorChartLabels" [options]="chartOptions"
				[chartType]="contrallorChartType"
				(chartHover)="chartHovered($event)" [colors]="chartColors"
				[legend]="chartLegend" (chartClick)="chartClicked($event)"></canvas>
		</div>
	</div>



<div style="display: block">
	<canvas baseChart [data]="personeroChartData"
		[labels]="personeroChartLabels" [options]="chartOptions"
		[chartType]="personeroChartType" [legend]="chartLegend"
		[colors]="chartColors" (chartHover)="chartHovered($event)"
		(chartClick)="chartClicked($event)"></canvas>
</div>