<br>
<div class="container login-absolute-center">
	<div class="cover-container">
		<header class="masthead mb-auto">
			<div class="inner">
				<h3 class="masthead-brand">::: Gobierno Estudiantil 2023 :::</h3>
				<nav class="nav nav-masthead justify-content-center">
					<a class="nav-link">{{currentUser.name}}</a>
				</nav>
			</div>
		</header>
	</div>
	<app-alert></app-alert>

	<br> <br>
	<hr>

	<div class="card-deck">
		<div class="card card_border text-white bg-dark mb-3"
			style="max-width: 30rem; min-width: 20rem;">
			<div class="card-header">Resultados Contralor</div>
			<div class="card-body">
				<div style="display: block">
					<canvas  baseChart [data]="contrallorChartData"
						[labels]="contrallorChartLabels" [options]="chartOptions"
						[chartType]="contrallorChartType"
						(chartHover)="chartHovered($event)" [colors]="chartColors"
						[legend]="chartLegend" (chartClick)="chartClicked($event)"></canvas>
				</div>
			</div>
		</div>
		<div class="card card_border text-white bg-dark mb-3"
			style="max-width: 30rem; min-width: 20rem;">
			<div class="card-header">Resultados Personero</div>
			<div class="card-body">
				<div style="display: block">
					<canvas baseChart [data]="personeroChartData"
						[labels]="personeroChartLabels" [options]="chartOptions"
						[chartType]="personeroChartType" [legend]="chartLegend"
						[colors]="chartColors" (chartHover)="chartHovered($event)"
						(chartClick)="chartClicked($event)"></canvas>
				</div>
			</div>
		</div>
		<div class="card card_border text-white bg-dark mb-3"
			style="max-width: 30rem; min-width: 20rem;">
			<div class="card-header">Participación</div>
			<div class="card-body">
				<div style="display: block">
					<canvas baseChart [data]="generalChartData"
						[labels]="generalChartLabels" [options]="chartOptions"
						[chartType]="generalChartType" [legend]="chartLegend"
						[colors]="chartColors" (chartHover)="chartHovered($event)"
						(chartClick)="chartClicked($event)"></canvas>
				</div>
			</div>
		</div>
	</div>

	<br> <br>
	<hr>
	
	<h3>Resultados por sede</h3>
	<div class="card-deck">
		<div class="card card_border text-white bg-dark mb-3"
			style="max-width: 30rem; min-width: 20rem;"
			*ngFor="let location of locationsByPerson">
			<div class="card-header">{{location._id}}</div>
			<div class="card-body">
				<h5>Personeros</h5>
				<div *ngFor="let votoPersoneros of location.votosPersoneros">
					<h6 class="card-title">{{votoPersoneros.personero}} : {{votoPersoneros.count}}</h6>
				</div>
				<hr>
			</div>
		</div>
    </div>

	<p>
		<a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
		  Link with href
		</a>
		<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
		  Button with data-target
		</button>
	  </p>
	  <div class="collapse" id="collapseExample">
		<div class="card card-body">
		  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
		</div>
	  </div>

</div>



